<h1>Movie Details</h1>
<!-- Placeholder for path helper - need to add in real route when page is built -->
<%= link_to "Create Viewing Party", popular_path %>
<br>
<br>
<h3 id="title"><%= @movie[:title] %></h3>
<h4 id="runtime">Runtime: <%= "#{@movie[:runtime] / 60} hours #{@movie[:runtime] % 60} minutes" %></h4>
<h4 id="vote_average">Vote Average: <%= @movie[:vote_average] %></h4>
<h4 id="genres">Genres: <%= @movie[:genres] %></h4>
<h5 id="overview">Overview: <%= @movie[:overview] %></h5>
<br>
<h5>Cast:</h5>
<% @cast.each do |member| %>
  <h6 id="member"><%= "#{member[:name]} as #{member[:character]}" %></h6>
<% end %>
<br>
<% if @reviews.length > 0 %>
  <h5><%= @reviews.length %> Reviews</h5>
  <% @reviews.each do |review| %>
    <div id="review">
      <h6>Author: <%= review[:author] %></h6>
      <p><%= review[:content] %></p>
    </div>
  <% end %>
<% end %>
